@import url('https://fonts.googleapis.com/css?family=Montserrat');
@mixin Montserrat {
  font-family: 'Montserrat', Arial, sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@mixin KaushanScript {
  font-family: 'Kaushan Script', cursive;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
@mixin Roboto {
  font-family: 'Roboto', sans-serif;
}
