//Mixins

@mixin wrapper {
  width: 1200px;
  margin: 0 auto;
}

// Reusabale in most components separation line
@mixin separationLine {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
}

@mixin customScrollBar {
  &::-webkit-scrollbar-track {
  	border-radius: 5px;
  	background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
  	width: 5px;
  	background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  	background-color: #95e1d3;
  }
}
