//Mixins

@mixin wrapper {
  width: 1200px;
  margin: 0 auto;
}

// Reusabale in most components separation line
@mixin separationLine {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
}

@mixin customScrollBar {
  &::-webkit-scrollbar-track {
  	border-radius: 5px;
  	background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
  	width: 5px;
  	background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  	background-color: #95e1d3;
  }
}

//arrow
@mixin arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 3px solid $borderTurquoise;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
//gradient
@mixin imgHoverGradient {
  background: linear-gradient(to top, $gradientBottom 0%, $gradientTop 100%);
}
@mixin imgTranslation {
  transition-property: all;
  transition-duration: .7s;
  box-shadow: 10px 10px 0 0 $bgTurquoise;
  transform: translate(-10px, -10px);
}
