//Mixins

@mixin wrapper {
  width: 1200px;
  margin: 0 auto;
}

// Reusabale in most components separation line
@mixin separationLine {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
}
