$textWhite: #fff;
$bgWhite: #fff;
$borderWhite: #fff;
$textBlack: #000;
$bgTurquoise: #95e1d3;
$borderTurquoise: #b5eae0;
$textGray: #b3b3b3;
$bgGray: #f8f8f8;
$borderGray: #e5e5e5;
$textDarkGray: #999999;
$textGray2: #3c4043;
$borderOrange: #f9bd87;
$bgYellow: #fce38a;
$textRed: #f38181;
$bgRed: #f38181;
$borderRed: #f38181;
$bgFooter: #f8f8f8;
$headerHoverColor: #fce38a;
$scrollLineColor: #f38181;
$gradientBottom: rgba(252, 227, 138, .8);
$gradientTop: rgba(243, 129, 129, .8);
