$textWhite: #fff;
$bgWhite: #fff;
$borderWhite: #fff;
$textBlack: #000;
$bgTurquoise: #95e1d3;
$borderTurquoise: #b5eae0;
$headerHoverColor: #fce38a;
$scrollLineColor: #f38181;
$gradientBottom: rgba(252, 227, 138, .8);
$gradientTop: rgba(243, 129, 129, .8);
